__pycache__
*.pdf
*.png
*.dat
*.root
*.confobj
*.joblib
*.cfg
*.cmake
*.make
*.o
*.d
*.ts
.ipynb_checkpoints
.pyjetty_config_external
Pipfile
Pipfile.lock
*.pyc
/modules
*~
#*
*.log
*.run
*.DS_Store
.vscode/settings.json
pyjetty/alice_analysis/config/ENC/pp/pyjettyenv/*
cpptools/Makefile
cpptools/CMakeFiles/cmake.check_cache
cpptools/CMakeFiles/CMakeConfigureLog.yaml
cpptools/CMakeFiles/CMakeRuleHashes.txt
cpptools/CMakeFiles/Makefile2
cpptools/CMakeFiles/progress.marks
cpptools/CMakeFiles/TargetDirectories.txt
cpptools/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
cpptools/CMakeFiles/3.30.2/CompilerIdCXX/a.out
cpptools/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpptools/src/Makefile
cpptools/src/aleph/aleph.py
cpptools/src/aleph/Makefile
cpptools/src/aleph/CMakeFiles/progress.marks
cpptools/src/aleph/CMakeFiles/aleph.dir/alephPYTHON_wrap.cxx
cpptools/src/aleph/CMakeFiles/aleph.dir/alephPYTHON.stamp
cpptools/src/aleph/CMakeFiles/aleph.dir/link.txt
cpptools/src/aleph/CMakeFiles/aleph_swig_compilation.dir/CXX.includecache
cpptools/src/aleph/CMakeFiles/aleph_swig_compilation.dir/depend.internal
cpptools/src/aleph/CMakeFiles/pyjetty_aleph.dir/link.txt
cpptools/src/alephR/Makefile
cpptools/src/alephR/CMakeFiles/progress.marks
cpptools/src/alephR/CMakeFiles/pyjetty_alephR.dir/CXX.includecache
cpptools/src/alephR/CMakeFiles/pyjetty_alephR.dir/link.txt
cpptools/src/CMakeFiles/progress.marks
cpptools/src/ecorrel/ecorrel.cxx
cpptools/src/ecorrel/ecorrel.hh
cpptools/src/ecorrel/ecorrel.py
cpptools/src/ecorrel/Makefile
cpptools/src/ecorrel/CMakeFiles/progress.marks
cpptools/src/ecorrel/CMakeFiles/ecorrel.dir/ecorrelPYTHON_wrap.cxx
cpptools/src/ecorrel/CMakeFiles/ecorrel.dir/ecorrelPYTHON.stamp
cpptools/src/ecorrel/CMakeFiles/ecorrel.dir/link.txt
cpptools/src/ecorrel/CMakeFiles/ecorrel_swig_compilation.dir/CXX.includecache
cpptools/src/ecorrel/CMakeFiles/ecorrel_swig_compilation.dir/depend.internal
cpptools/src/ecorrel/CMakeFiles/pyjetty_ecorrel.dir/link.txt
cpptools/src/fjtools/fjtools.py
cpptools/src/fjtools/Makefile
cpptools/src/fjtools/CMakeFiles/progress.marks
cpptools/src/fjtools/CMakeFiles/fjtools.dir/fjtoolsPYTHON_wrap.cxx
cpptools/src/fjtools/CMakeFiles/fjtools.dir/fjtoolsPYTHON.stamp
cpptools/src/fjtools/CMakeFiles/fjtools.dir/link.txt
cpptools/src/fjtools/CMakeFiles/fjtools_swig_compilation.dir/CXX.includecache
cpptools/src/fjtools/CMakeFiles/fjtools_swig_compilation.dir/depend.internal
cpptools/src/fjtools/CMakeFiles/pyjetty_fjtools.dir/link.txt
cpptools/src/rutil/Makefile
cpptools/src/rutil/CMakeFiles/progress.marks
cpptools/src/rutil/CMakeFiles/pyjetty_rutil.dir/CXX.includecache
cpptools/src/rutil/CMakeFiles/pyjetty_rutil.dir/link.txt
cpptools/src/rutilext/Makefile
cpptools/src/rutilext/CMakeFiles/progress.marks
cpptools/src/rutilext/CMakeFiles/pyjetty_rutilext.dir/CXX.includecache
cpptools/src/rutilext/CMakeFiles/pyjetty_rutilext.dir/link.txt
